{% extends 'myblogaji/base.html' %}

{% block content %}
    <div class="mt-5 mb-5">
        <form action="/post/search/" method="get">
            <i class="fa fa-search text-secondary pl-3" aria-hidden="true"></i>
            <input class="pl-5" type="text" name='search' placeholder="What's post?" style="width: 100%;  height: 50px;">
        </form>
    </div>

    <div class="mt-5 mb-5">
        {% for tag in tags %}
            <a href="{% url 'post_tag' pk=tag.pk %}"><button type="button" class="btn btn-warning px-4">{{ tag.name_tag }}</button></a>
        {% endfor%}
        <p class="mt-5"> There are {{post_data.total_command}} commands in our Blog </p>
        <p class="mt-5"> There are {{post_data.avg_like}} likes per post in our Blog </p>
    </div>
    {% for post in posts %}
        <div class="post">
            <div class="date">
                {{ post.published_date }}
            </div>
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            {% for tag in post.tag.all %}
                <span>{{ tag.name_tag }}</span>
            {% endfor%}
            <p class="mt-2">{{ post.text|linebreaksbr }}</p>
            <p>{{ post.num_command }} commands</p>
            <p>{{ post.like }} likes, {{ post.dislike }} dislikes</p>
        </div>
    {% endfor %}

{% endblock %}